# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Temp files/directories
.temp/
supabase/.temp/

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.example

# Editor directories and files
.vscode/*
.DS_Store
/data